.languageSwitcherSelect {
      border: 1px solid #d1d9e0;
      font-size: 13px;
      padding: 6px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.languageSwitcherSelect:hover {
      background: #f6f8fa;
}