.callout {
      background-color: #fff;
      border: 1px solid #d8dbff;
      border-radius: 5px;
      margin-top: 20px;
      padding: 10px;
}

.content {
      margin: 0 5px;
      color: #000eda;
}