:root {
      --table-border-color: #e2e8ee;
      --total-amount-line-color: #F4FFEA;
      --table-theme: #fcfcfd;
}

.table {
      border: 1px solid var(--table-border-color);
      width: 100%;
      border-collapse: separate; /* thay cho collapse */
      border-spacing: 0;
      border-radius: 5px;
      font-size: 13px;
}

.table th, .table td {
      border-bottom: 1px solid #e2e8ee;
      border-right: 1px solid #e2e8ee;
      padding: 8px 10px;
      text-wrap: nowrap;
}

.table thead th {
      background-color: var(--table-theme); 
      text-align: center;
}

.table thead, .table tr, .table td {
      border-color: inherit;
      border-style: solid;
      border-width: 0;
}

.table tbody tr:hover {
      background-color: var(--table-theme); 
}

