@import "tailwindcss";

:root {
      --bright-blue: #0096FF;
      --primary-fg-color: #5955d1;
      --blue-fg-color: #000eda;

      --primary-bg-color: #fff;
      --secondary-bg-color: #f6f8fa;

      --heading-title-color: #29294b;
      --secondary-color: #696981;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 2;
}

header {
      height: 80px;
      display: flex;
      align-items: center;
}

h1 { font-size: 3.25rem; line-height: 1.2; font-weight: 700; color: var(--heading-title-color) }
h2 { font-size: 2.5rem; line-height: 1.2; font-weight: 700; color: #520097; margin: 60px 0px 14px 0px; }
h3 { font-size: 2rem; line-height: 1.2; font-weight: 700; color: #2609b1;  margin-top: 30px; margin-bottom: 10px; }
h4 { font-size: 1.5rem; line-height: 1.2; font-weight: 700; margin-top: 30px; margin-bottom: 10px; position: relative; position: relative;  padding-left: 20px; color: var(--primary-fg-color); }
h4::before { content: ""; background: var(--primary-fg-color); border-radius: 2px; width: 9px; height: 18px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }


/* Page */
.page-section {
      background-image: linear-gradient(180deg, #fdfdff 0%, #f8f7ff 100%);
      overflow-x: hidden;
}
.page-container {   
      height: 100vh;
      max-width: 1296px;
      width: 100%;
      margin: 0 auto;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
}


/* button */
button, .button { 
      font-family: 'Lexend', sans-serif;  
      padding: 8px; 
      border-radius: 5px; 
      height: fit-content; 
      border: 1px solid transparent !important; 
      font-weight: 400; 
      cursor: pointer; 
      font-size: 11px; 
      line-height: 1.3; 
}


/* border-radius */
.border-radius-10px { border-radius: 10px;}

/* box-shadow */
.modal-shadow {
      box-shadow: rgba(244, 246, 247, 0.91) 0px 2px 4px 0px, rgba(244, 249, 251, 0.96) 0px 2px 16px 0px;
}


/* color  */
.secondary-bg-color {
      background-color: #f6f8fa;
}

/* font */
.font-size-13px {
      font-size: 13px;
}

/* padding */
.padding-0 {
      padding: 0px !important;
}


.tag-item {
      background-color: white;
      padding: 0px 8px;
      box-shadow: 0px 5px 20px 0px rgba(144,144,255,.15);
      border-radius: 5px;
      cursor: pointer;
      font-size: 12px;
      transition: .25s;
      background-color: gold;
}
.tag-item:hover {
      box-shadow: rgb(255, 239, 0) 0px 2px 8px 0px;
      opacity: 0.8;
}

/* text */
.highlight-blue-fg {
      color: #000eda;
}

/* content */
.paragraph {
      margin: 14px 0px;
      color: #2b2b44;
}

.bullet-list {
      list-style: inherit;
      padding-left: 20px;
      margin: 14px 0px;
}
.bullet-list li {
      margin: 10px 0px;
}
.bullet-list li::marker {
      color: var(--primary-fg-color);
}

.section-title {
      position: relative;
      padding-left: 20px;
      font-weight: 700;
      color: var(--primary-fg-color);
}
.section-title::before {
      content: "";
      background: var(--primary-fg-color);
      border-radius: 2px;
      width: 9px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
}


/* blockquote */
blockquote {
      line-height: 1.6;
      width: fit-content;
      background: #f6f8fa;
      margin: 20px 0px 20px 0px;
      padding: 4px 10px;
      border: 1px solid #d1d9e0;
      border-radius: 5px;
      box-shadow: 0px 1px 0px 0px #1f23280a;
      color: #68696a;
      font-size: 14px;
}