@import "tailwindcss";

:root {
      --bright-blue: #0096FF;
      --primary-fg-color: #5955d1;
      --blue-fg-color: #000eda;

      --primary-bg-color: #fff;
      --secondary-bg-color: #f6f8fa;

      --heading-title-color: #29294b;
      --secondary-color: #696981;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 2;
      font-weight: 500;
}

header {
      height: 80px;
      display: flex;
      align-items: center;
}

/* blog post */
.blog-post h1 { font-size: 2.5rem; line-height: 1.2; font-weight: 700; color: #520097; margin: 60px 0px 14px 0px; }
.blog-post h2 { font-size: 2rem; line-height: 1.2; font-weight: 700; color: #2609b1;  margin-top: 30px; margin-bottom: 10px; }
.blog-post h3 { font-size: 1.5rem; line-height: 1.2; font-weight: 700; margin-top: 30px; margin-bottom: 10px; position: relative; position: relative;  padding-left: 20px; color: var(--primary-fg-color); }
.blog-post h3::before { content: ""; background: var(--primary-fg-color); border-radius: 2px; width: 9px; height: 18px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
.blog-post ul { list-style: inherit; padding-left: 20px; margin: 10px 0px; }
.blog-post li::marker { color: var(--primary-fg-color); }
.blog-post code { font-family: 'Space Mono', Courier, monospace; color: #188038;}

/* ProseMirror */
.ProseMirror {
      outline: none;
}
.ProseMirror h1 { font-size: 2rem; line-height: 1.2; font-weight: 700; color: #520097; margin: 10px 0px 14px 0px; }
.ProseMirror h2 { font-size: 1.5rem; line-height: 1.2; font-weight: 700; color: #2609b1;  margin: 10px 0px;}
.ProseMirror h3 { font-size: 1.5rem; line-height: 1.2; font-weight: 700; margin-top: 30px; margin-bottom: 10px; position: relative; position: relative;  padding-left: 20px; color: var(--primary-fg-color); }
.ProseMirror h3::before { content: ""; background: var(--primary-fg-color); border-radius: 2px; width: 9px; height: 18px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
.ProseMirror p { font-size: 15px; color: #2b2b44; }
.ProseMirror pre { background: #1e293b; color: white; padding: 5px; border-radius: 8px; }
.ProseMirror ul { list-style: inherit; padding-left: 20px; margin: 10px 0px; }
.ProseMirror li::marker { color: var(--primary-fg-color); }
.ProseMirror code { font-family: 'Space Mono', Courier, monospace; color: #188038;}
.editor-callout {
      font-size: 12px;
      border-radius: 5px;
      margin-top: 10px;
      padding: 5px 10px;
      background-image: linear-gradient(to top, #fbf39d, #fcf49d, #fdf69e, #fdf79e, #fef89f, #fef99f, #fff9a0, #fffaa0, #fffaa0, #fffaa0, #fffaa0, #fffaa0);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: all .2s ease-in-out ;
      width: fit-content;
}
.editor-callout p { font-size: 13px; }


/* Page */
.page-section {
      background-image: linear-gradient(180deg, #fdfdff 0%, #f8f7ff 100%);
      overflow-x: hidden;
}
.page-container {   
      min-height: 100vh;   /* đổi từ height -> min-height */
      max-width: 1296px;
      width: 100%;
      margin: 0 auto;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
}

/* button */
button, a, .button { 
      font-family: 'Lexend', sans-serif;  
      padding: 8px; 
      border-radius: 5px; 
      height: fit-content; 
      border: 1px solid transparent !important; 
      font-weight: 400; 
      cursor: pointer; 
      font-size: 11px; 
      line-height: 1.3; 
}

/* border-radius */
.border-radius-10px { border-radius: 10px;}

/* box-shadow */
.modal-shadow {
      box-shadow: rgba(244, 246, 247, 0.91) 0px 2px 4px 0px, rgba(244, 249, 251, 0.96) 0px 2px 16px 0px;
}

/* color  */
.secondary-bg-color {
      background-color: #f6f8fa;
}

.tag-item {
      background-color: white;
      padding: 0px 8px;
      box-shadow: 0px 5px 20px 0px rgba(144,144,255,.15);
      border-radius: 5px;
      cursor: pointer;
      font-size: 12px;
      transition: .25s;
      background-color: gold;
}
.tag-item:hover {
      box-shadow: rgb(255, 239, 0) 0px 2px 8px 0px;
      opacity: 0.8;
}

/* text */
.highlight-blue-fg {
      color: #000eda;
}

/* content */
.paragraph {
      margin: 14px 0px;
      color: #2b2b44;
}

.bullet-list {
      list-style: inherit;
      padding-left: 20px;
      margin: 14px 0px;
}
.bullet-list li {
      margin: 10px 0px;
}
.bullet-list li::marker {
      color: var(--primary-fg-color);
}

.section-title {
      position: relative;
      padding-left: 20px;
      font-weight: 700;
      color: var(--primary-fg-color);
}
.section-title::before {
      content: "";
      background: var(--primary-fg-color);
      border-radius: 2px;
      width: 9px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
}


/* blockquote */
blockquote {
      line-height: 1.6;
      width: fit-content;
      background: #f6f8fa;
      margin: 20px 0px 20px 0px;
      padding: 4px 10px;
      border: 1px solid #d1d9e0;
      border-radius: 5px;
      box-shadow: 0px 1px 0px 0px #1f23280a;
      color: #68696a;
      font-size: 14px;
}

.input {
      width: 100%;
      height: 100%;
      padding-left: 0.8em;
      outline: none;
      overflow: hidden;
      background-color: #f6f8fa !important;
      border-radius: 5px;
      transition: all 0.5s;
      font-size: 13px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.input:hover, .input:focus {
      border: 1px solid #4A9DEC;
      box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
      background-color: white !important;
}

.cm-content {
      white-space: pre-wrap !important;
      word-break: break-word;
}

.label {
      background: #f6f8fa;
      padding: 2px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      border-radius: 3px;
      width: fit-content;
      font-size: 10px;
}
