@import "tailwindcss";

:root {
      --bright-blue: #0096FF;

      --primary-bg-color: #fff;
      --secondary-bg-color: #f6f8fa;

      --label-color: #645f5f;

      --heading-title-color: #29294b;
}

body {
      font-family: Lexend, Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 2;
}

header {
      height: 80px;
      display: flex;
      align-items: center;
}

h1 { font-size: 3.25rem; line-height: 1.2; font-weight: 700; color: var(--heading-title-color) }
h2 { font-size: 2.5rem; line-height: 1.2; font-weight: 700; color: var(--heading-title-color); margin: 28px 0px 14px 0px; }
h3 {
      font-size: 2rem; line-height: 1.2; font-weight: 700; color: #8754ba; 
      margin-top: 20px; margin-bottom: 10px;
}

/* Page */
.page-section {
      background-image: linear-gradient(180deg, #fdfdff 0%, #f8f7ff 100%);
      overflow-x: hidden;
}
.page-container {   
      height: 100vh;
      max-width: 1296px;
      width: 100%;
      margin: 0 auto;
      padding: 0 24px;
}


/* button */
button, .button { font-family: 'Lexend', sans-serif;  padding: 8px; border-radius: 5px; height: fit-content; border: 1px solid transparent !important; font-weight: 400; cursor: pointer; }
.default-button { font-size: 12px; background-color: #f6f8fa; box-shadow: 0px 1px 0px 0px #1f23280a; color: #696e75; cursor: pointer; user-select: none; border: 1px solid #d1d9e0 !important; display: flex; justify-content: center; align-items: center; }
.default-button:hover { transition-duration: 80ms; background-color: #eff2f5; color: #25292e;}

.cancel-button { font-size: 12px; background: #6E6D70; color: white; user-select: none; -webkit-user-select: none; touch-action: manipulation;  }
.cancel-button:focus { box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5); outline: 0; }
.cancel-button:hover { cursor: pointer; opacity: 0.8; }

.save-button { font-size: 12px; background-color: var(--bright-blue); cursor: pointer; transition: all ease-in-out 0.2s; color: white !important; box-shadow: 0px 4px 6px -1px #0276FF31, 0px 2px 4px -1px #0276FF17; user-select: none; -webkit-user-select: none; touch-action: manipulation; }
.save-button:hover { background-color: #0071e2; }

/* border-radius */
.border-radius-10px { border-radius: 10px;}

/* box-shadow */
.modal-shadow {
      box-shadow: rgba(244, 246, 247, 0.91) 0px 2px 4px 0px, rgba(244, 249, 251, 0.96) 0px 2px 16px 0px;
}


/* color  */
.secondary-bg-color {
      background-color: #f6f8fa;
}

/* font */
.font-size-13px {
      font-size: 13px;
}

/* form */
.form-label { color: var(--label-color); font-size: 13px; user-select: none; }
.form-input { background-color: #f5f5f5; width: 100%; transition-duration: .15s; border-radius: 5px; padding: 5px 8px; }

/* padding */
.padding-0 {
      padding: 0px !important;
}

/* card */
.primary-card .card-wrapper  {
      border-radius: 5px;
      background-color: white;
      border: 1px solid #d1d9e0b3;
      width: 100%;
      height: fit-content;
}    
.primary-card .card-header {
      font-size: 14px;
      font-weight: bold;
      padding: 8px;
      border-bottom: 1px solid var(--default-border-color);
      background-color: var(--primary-theme-color);
}      
.primary-card .card-body {
      padding: 15px;
}
.primary-card .card-box {
      width: 80%;
      border: 1px solid var(--default-border-color);
      border-radius: 5px;
      padding: 10px;
      user-select: none;
}

.tag-item {
      background-color: white;
      padding: 5px 8px;
      box-shadow: 0px 5px 20px 0px rgba(144,144,255,.15);
      border-radius: 5px;
      cursor: pointer;
}
.tag-item:hover {
      box-shadow: 0px 5px 25px 0px rgba(144,144,255,.4);
      color: var(--bright-blue);
}

/* content */
.paragraph {
      margin: 28px 0px;
      color: #2b2b44;
}

.bullet-list {
      list-style: inherit;
      padding-left: 20px;
      margin-top: 14px; margin-bottom: 28px;
}
.bullet-list li {
      margin: 10px 0px;
}
.bullet-list li::marker {
      color: #5955d1;
}

.section-title {
      position: relative;
      padding-left: 20px;
      font-weight: 700;
      color: #5955d1;;
}
.section-title::before {
      content: "";
      background: #5955d1;
      border-radius: 2px;
      width: 9px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
}
