.logoTitle {
      font-size: 1.125rem;
      font-weight: bold !important;
      letter-spacing: -0.01em;
      background: #6c6ce0;
      background: linear-gradient(348deg, rgba(108, 108, 224, 1) 1%, rgba(0, 212, 255, 1) 74%);
      color: white;
      padding: 6px;
      border-radius: 5px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}