.code-block pre {
      margin: 16px 0;
      padding: 16px;
      border-radius: 6px;
      width: fit-content;

      background-color: #0d1117;
      overflow-x: auto;

      font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
      line-height: 1.5;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.code-block-wrapper {
      position: relative;
}
